<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moby Dick Word Count</title>

    <!-- JQuery -->
    <script src="{{ url_for('static', filename='js/jquery-v3.6.2.js') }}"></script>
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
</head>
{% block body %}{% endblock %}

<body>

</body>

</html>